* {
  margin: 10px auto;
}
li {
  list-style: none;
}
.container {
  display: flex;
  margin: 10px;
}

.unaryOperator {
  width: 50%;
  border: 1px solid #dcdcdc;
  padding: 20px;
  margin-right: 5px;
  text-align: center;
}

.nameList {
  width: 50%;
  border: 1px solid #dcdcdc;
  text-align: center;
}
